---
import type { Command } from "@prisma/client";

interface Props {
  command: Command;
  edit?: boolean;
}

const { command, edit = false } = Astro.props;
---

<div class="command" hx-target="this" hx-swap="outerHTML">
  <div>
    <label>Name</label>: {command.commandName}
    <label>Message</label>: {command.message ?? <s>No message</s>}
    <label>Fetch</label>: {command.fetch ?? <s>No link to fetch</s>}
    <label>Is Mod only</label>: {command.isMod ? "Yes" : "No"}
    <label>Use reply</label>: {command.reply ? "Yes" : "No"}
    <label>Cooldown</label>: {command.cooldown}s
    {
      edit && (
        <button hx-get={`/api/command/${command.commandName}`}>Edit</button>
      )
    }
  </div>
</div>

<style>
  .command {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
</style>
