---
import CommandView from "./CommandView.astro";
import { prisma } from "../../utils/database";

interface Props {
  channelId: string;
}

const { channelId } = Astro.props;

const commands = await prisma.command.findMany({ where: { channelId } });
---

<section>
  <div>
    {
      commands.map((command) => {
        return <CommandView command={command} edit={true} />;
      })
    }
  </div>
  <span hx-target="this" hx-swap="innerHTML">
    <button id="add" hx-get={`/api/command/`}>Add</button>
  </span>
</section>

<style>
  section {
    padding-top: 1rem;
  }

  #add {
    margin-top: 0.5rem;
  }
</style>
