---
import type { BanWords } from "@prisma/client";
import BanWordsView from "./BanWordsView.astro";

interface Props {
  banwords: BanWords | null;
  isGlobal?: boolean;
  canEdit?: boolean;
}

const { banwords, isGlobal, canEdit } = Astro.props;
---

<section>
  {
    !banwords ? (
      !isGlobal || canEdit ? (
        isGlobal ? (
          <button hx-post={`/api/banwords/global`} hx-swap="outerHTML">
            Init {"global banwords"}
          </button>
        ) : (
          <a href="/settings">Go init settings first</a>
        )
      ) : (
        "No global ban words are defined for now"
      )
    ) : (
      <BanWordsView
        banwords={banwords}
        isGlobal={isGlobal}
        blockEdit={isGlobal && !canEdit}
      />
    )
  }
</section>
