---
import type { LinkFilters } from "@prisma/client";
import LinkFiltersView from "./LinkFiltersView.astro";

interface Props {
  links: LinkFilters | null;
}

const { links } = Astro.props;
---

<section>
  {
    !links ? (
      <a href="/settings">Go init settings first</a>
    ) : (
      <LinkFiltersView links={links} />
    )
  }
</section>
