---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import Section from "../components/Section.astro";
import AdminView from "../components/AdminView.astro";

import { getChannel, isValidCookie } from "../utils/cookie";

const token = Astro.cookies.get("token")?.value ?? "";
---

<GlobalLayout title="Administration">
  <PageHeader>Admin</PageHeader>
  <main>
    <Section>This is the admin page :D</Section>
    {
      !isValidCookie(token) ? (
        <a
          href={`https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=${process.env.TWITCH_ID}&redirect_uri=https://${process.env.REDIRECT_URI}/api/twitch&scope=user:edit:broadcast+channel:read:subscriptions+channel:edit:commercial+channel:read:hype_train+channel:manage:broadcast`}
        >
          Connect to twitch
        </a>
      ) : (
        <AdminView channelId={getChannel(token)} />
      )
    }
  </main>
</GlobalLayout>
