---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";

import { getChannel, isValidCookie } from "../utils/cookie";
import { prisma } from "../utils/database";
import LinkFiltersSection from "../components/links/LinkFiltersSection.astro";
import Section from "../components/Section.astro";

const token = Astro.cookies.get("token")?.value ?? "";

if (!isValidCookie(token)) return Astro.redirect("/");

const channelId = getChannel(token);
const linkFilters = await prisma.linkFilters.findUnique({
  where: { channelId },
});
---

<GlobalLayout title="Administration">
  <PageHeader>Admin</PageHeader>
  <main>
    <a href="/admin">back to admin</a>
    <br />
    <br />
    <Section title="Bad links">
      <br />
      <LinkFiltersSection links={linkFilters} />
    </Section>
  </main>
</GlobalLayout>
