---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";

import { getChannel, isValidCookie } from "../utils/cookie";
import { prisma } from "../utils/database";
import SettingsView from "../components/SettingsView.astro";

const token = Astro.cookies.get("token")?.value ?? "";

if (!isValidCookie(token)) return Astro.redirect("/");

const channelId = getChannel(token);
const settings = await prisma.settings.findFirst({ where: { channelId } });
---

<GlobalLayout title="Administration">
  <PageHeader>Admin</PageHeader>
  <main>
    {
      !settings ? (
        <button hx-post={`/api/settings`} hx-swap="outerHTML">
          Init channel
        </button>
      ) : (
        <SettingsView settings={settings} />
      )
    }
  </main>
</GlobalLayout>
