---
import { isValidCookie } from "../../utils/cookie";
import { prisma } from "../../utils/database";
const token = Astro.cookies.get("token")?.value ?? "";

if (!isValidCookie(token)) return new Response("", { status: 400 });

const template = await prisma.template.findFirst();

let title;
if (Astro.request.method === "PUT") {
  const data = await Astro.request.formData();
  title = (data.get("title")?.valueOf() as string) ?? "";
  if (!template) {
    await prisma.template.create({
      data: {
        title,
      },
    });
  } else {
    await prisma.template.updateMany({
      data: {
        title,
      },
    });
  }
} else if (Astro.request.method === "DELETE") {
  await prisma.template.deleteMany();
}
---

{
  Astro.request.method === "GET" ? (
    <form hx-put={`/api/title`} hx-target="this" hx-swap="outerHTML">
      <label>Title template</label>:{" "}
      <input type="text" name="title" value={template?.title} />
      <br />
      <button>Submit</button>
      <button hx-delete={`/api/title`}>Remove</button>
      <style>
        button {
          margin: 0.15rem;
        }
      </style>
    </form>
  ) : (
    <div hx-target="this" hx-swap="outerHTML">
      <label>Title template</label>: <b>{title?.replace("{}", "{title}")}</b>
      <button id="title-button" hx-get={`/api/title`}>
        {title ? "Click To Edit" : "Add"}
      </button>
    </div>
  )
}
