---
import { prisma } from "../utils/database";

interface Props {
  channelId: string;
}

const { channelId } = Astro.props;

const connected = Boolean(
  await prisma.token.findFirst({ where: { channelId } }),
);
---

<section>
  <p>
    <a
      href={`https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=${process.env.TWITCH_ID}&redirect_uri=https://${process.env.REDIRECT_URI}/api/twitch&scope=channel:manage:ads+channel:read:ads+channel:manage:broadcast+channel:edit:commercial+channel:read:goals`}
    >
      Reconnect to twitch
    </a>
    {!connected && <>Your account isn't connected!</>}
  </p>
  <p>
    <a
      href={`https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=${process.env.TWITCH_ID}&redirect_uri=https://${process.env.REDIRECT_URI}/bot&scope=moderator:manage:announcements+moderator:manage:chat_messages+moderator:read:chat_settings+moderator:manage:chat_settings+moderator:manage:shoutouts+chat:read+user:bot+chat:edit+channel:moderate`}
    >
      Get the bot token for fant0mib0t automated system (don't use please)
    </a>
  </p>
  <ul>
    <li>
      <a href="/commands">commands</a>
    </li>
    <li>
      <a href="/timers">timers</a>
    </li>
    <li>
      <a href="/warns">warns</a>
    </li>
    <li>
      <a href="/settings">settings</a>
    </li>
    <li>
      <a href="/banwords">banwords</a>
    </li>
    <li>
      <a href="/badlinks">badlinks</a>
    </li>
  </ul>
</section>
