---
import { getChannel, isValidCookie } from "../../../utils/cookie";
import { prisma } from "../../../utils/database";

const token = Astro.cookies.get("token")?.value ?? "";

if (!isValidCookie(token)) return new Response("", { status: 403 });

const channelId = getChannel(token);

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const command = {
    commandName: (data.get("name")?.valueOf() as string) ?? "",
    message: (data.get("message")?.valueOf() as string).length
      ? (data.get("message")?.valueOf() as string)
      : null,
    channelId,
  };
  if (
    (await prisma.command.findUnique({
      where: {
        channelCommand: { commandName: command.commandName, channelId },
      },
    })) ||
    command.commandName == ""
  )
    return new Response("", { status: 409 });
  await prisma.command.create({
    data: command,
  });
}
---

{
  Astro.request.method === "GET" && (
    <form hx-post={`/api/command`} hx-target="this" hx-swap="outerHTML">
      <label>Name</label>: <input type="text" name="name" />
      <label>Message</label>:
      <input type="text" name="message" />
      <button>Submit</button>
      <button hx-delete={`/api/command`}>Cancel</button>
    </form>
  )
}
{
  Astro.request.method === "POST" && (
    <script is:inline>window.location.reload();</script>
  )
}
{
  Astro.request.method === "DELETE" && (
    <button hx-get={`/api/command`}>Add</button>
  )
}
